<head>
	<title>Geometry Dash Browser!</title>
	<meta charset="utf-8">
	<link href="../assets/css/browser.css?v=1" type="text/css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135255146-3"></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-135255146-3');</script>
	<link rel="icon" href="../assets/coin.png">
	<meta id="meta-title" property="og:title" content="Geometry Dash Browser!">
	<meta id="meta-desc" property="og:description" content="Browse all of Geometry Dash's online features, right from this handy little website! Levels, profiles, leaderboards, comments, and more!">
	<meta id="meta-image" name="og:image" content="https://gdbrowser.com/assets/coin.png" itemprop="image">
	<meta name="twitter:card" content="summary">
</head>

<body class="levelBG" onbeforeunload="saveUrl()">

<div id="everything">

	<div class="popup" id="credits">
	</div>

	<div style="position:absolute; bottom: 0%; left: 0%; width: 100%; pointer-events: none">
		<img class="cornerPiece" src="../assets/corner.png" width=7%;>
	</div>

	<div style="position:absolute; top: 0%; left: 0%; width: 100%; pointer-events: none">
		<img class="cornerPiece" src="../assets/corner.png" width=7%; style="transform: scaleY(-1)">
	</div>

	<div style="position:absolute; top: 1.7%; right: 2%; text-align: right; width: 10%;">
		<img id="creditsButton" class="gdButton" src="../assets/credits.png" width="60%" onclick="loadCredits()">
	</div>

	<div class="menu-achievements" style="position:absolute; top: 28.7%; left: 86%; ">
		<a href="../achievements"><img class="gdButton" src="../assets/achievements.png" width="40%"></a>
	</div>

	<div class="menu-messages" style="position:absolute; top: -1.7%; right: 13.7%; width: 10%;">
		<a href="../messages"><img class="iconRope" src="../assets/messagerope.png" width="40%"></a>
	</div>

	<div class="menu-mostDesliked" style="position:absolute; top: 16.7%; right: 15%; text-align: right; width: 12%;">
		<a href="../search/*?starred&page=3061"><img src="../assets/smashDislike.png" width="40%"></a>
	</div>

	<div class="menu-mostLiked" style="position:absolute; top: 28.7%; right: 15%; text-align: right; width: 12%;">
		<a href="../search/*"><img src="../assets/smashLike.png" width="40%"></a>
		
	</div>

	<div class="menu-recent" style="position:absolute; top: 16.7%; left: 86%; text-align: left; width: 12%;">
		<a href="../search/*?type=recent"><img src="../assets/refresh.png" width="40%"></a>
	</div>

	<div class="menu-demonl" style="position:absolute; top: 16.7%; left: 93%; text-align: left; width: 12%;">
		<a href="../search/*?diff=-2"><img src="../assets/demonButton.png" width="40%"></a>
	</div>

	<div class="menu-demonlistB" style="position:absolute; top: 28.7%; left: 93%; text-align: left; width: 12%;">
		<a href="../search/*?type=demonlist"><img src="../assets/trophyButton.png" width="40%"></a>
	</div>

	<div style="position:absolute; top: -1.5%; right: 10%; text-align: right; width: 10%;">
		<a href="../iconkit"><img class="iconRope" src="../assets/iconrope.png" width="40%"></a>
	</div>
	
	<div id="dl" style="display: none; position:absolute; top: 15%; right: 0.5%; text-align: center; width: 17%">
		<h1 class="smaller" style="margin-bottom: 1%">Note</h1>
		<p style="font-size: 2.2vh; margin-top: 1.2%"><ca>Level downloading</ca> has been <cr>blocked</cr> by RobTop.
		<cy>Level analysis, daily levels, and downloading extra info</cy> will <cg>not work</cg> until he chooses to unblock downloads.
		These features still work <ca><a class="underline" target="_blank" href="https://github.com/GDColon/GDBrowser">locally</a></ca> and on <ca><a class="underline" href="../gdps">private servers</a></ca></p>
	</div>
	
	<div class="supercenter center" id="menuButtons" style="bottom: 5%;">
			<table>
					<tr class="menuButtonList">
						<td><a tabindex="1" href="./search/*?type=saved"><img class="menubutton menu-saved" src="../assets/category-saved.png" title="Saved Levels"></a></td>
						<td><a tabindex="1" href="./daily"><img class="menubutton menu-daily" src="../assets/category-daily.png" title="Daily Level"></a></td>
						<td style="display: block" id="menu_weekly"><a tabindex="1" href="./weekly"><img class="menubutton menu-weekly" src="../assets/category-weekly.png" title="Weekly Demon"></a></td>
						<td style="display: none" id="menu_featured"><a tabindex="1" href="./search/*?type=featured"><img class="menubutton menu-featured" src="../assets/category-featured.png" title="Featured"></a></td>
						<td><a tabindex="1" href="./gauntlets"><img class="menubutton menu-gauntlets" src="../assets/category-gauntlets.png" title="Gauntlets"></a></td>
					</tr>
					<tr class="menuButtonList">
						<td><a tabindex="1" href="./leaderboard"><img class="menubutton menu-leaderboard" src="../assets/category-scores.png" title="Scores"></a></td>
						<!-- <img src="./assets/exclamation.png" style="position: absolute; height: 18%; left: 3.5%; bottom: 23%; pointer-events: none; z-index: 50;"> -->
						<td><a tabindex="1" href="./search/*?type=hof"><img class="menubutton menu-hof" src="../assets/category-hof.png" title="Hall Of Fame"></a></td>
						<td><a tabindex="1" href="./mappacks"><img class="menubutton menu-mappacks" src="../assets/category-packs.png" title="Map Packs"></a></td>
						<td><a tabindex="1" href="./search"><img class="menubutton menu-search" src="../assets/category-search.png" title="Search"></a></td>
					</tr>
			</table>

			<p style="margin-bottom: 2%">btrGDBrowser is a fork of GDBrowser by <a class="menuLink" href="https://twitter.com/TheRealGDColon" title="Colon">GDColon</a>.<br>Pretty much everything other than that belongs to <a class="menuLink" href="http://robtopgames.com" title="RobTop Games">RobTop Games</a>. <p style="margin-bottom: 2%">If you are browsing a private server the shortcuts might not work.</p>
			<p style="margin-top: 0%">
	</div>

	<div style="position:absolute; bottom: 17%; right: 7%; width: 9%; text-align: right; pointer-events: none">
		<img src="../assets/privateservers.png" width=85%;">
	</div>

	<div style="position:absolute; bottom: 2.5%; right: 1.5%; text-align: right; width: 18%;">
		<a href="../gdps" title="GD Private Servers"><img class="gdButton" src="../assets/basement.png" width="40%"></a>
	</div>


	<div class="center" width="100%" style="margin-top: 2%">
		<h1 style="position: absolute; top: 0.1%; left: 27.5%;">btr</h1>
		<img src="../assets/gdlogo.png" height="11.5%"><br>
		<img id="browserlogo" src="../assets/browser.png" height="7%" style="margin: 0.5% 0% 0% 30%">
	</div>

	<div id="noDaily" style="display: none;">
		<div class="copied center noClick" style="position:absolute; top: 29%; left: 50%; transform: translate(-50%,-50%); width: 90vh; background-color: rgba(0, 0, 0, 0.7);">
			<h1 class="smaller noSelect">No active <span id="noLevel">daily</span> level!</h1>
		</div>
	</div>

</div>

</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.2/browser/pixi.js"></script>
<script type="text/javascript" src="../iconkit/icon.js"></script>
<script type="text/javascript" src="../global.js?v=1"></script>
<script>

let page = 1
$('#browserlogo').css('filter', `hue-rotate(${Math.floor(Math.random() * (330 - 60)) + 60}deg) saturate(${Math.floor(Math.random() * (150 - 100)) + 100}%)`)

let xButtonPos = '43%'
let lastPage

let noDaily = (window.location.search == "?daily=1")
let noWeekly = (window.location.search == "?daily=2")

if (noDaily || noWeekly) {
	if (noWeekly) $('#noLevel').html("weekly")
	$('#noDaily').fadeIn(200).delay(500).fadeOut(500)
	window.history.pushState(null, null, "/")
}

function loadCredits() {
	$('.subCredits').hide()
	$('#credits' + page).show()
	$('#credits').show()
	if (page == lastPage) $('#closeCredits').css('height', '52%')
	else $('#closeCredits').css('height', xButtonPos)
	$('.creditsIcon:not(".creditLoaded"):visible').each(async function() {		// only load icons when necessary 
		$(this).addClass('creditLoaded')
		let profile = await Fetch(`./api/profile/${$(this).attr('ign')}?forceGD=1`).catch(e => {}) || {}
		$(this).append(`<gdicon cacheID=${profile.playerID} iconID=${profile.icon} col1="${profile.col1}" col2="${profile.col2}" glow="${profile.glow}"></gdicon>`)
		renderIcons()
	})
}


Fetch(`./api/credits`).then(async res => {

	lastPage = res.credits.length + 1
	res.credits.forEach(async (x, y) => {
			$('#credits').append(`<div id="credits${y+1}" class="subCredits" style="display: none;">
			<img class="gdButton" src="../assets/arrow-left.png" style="${y == 0 ? "display: none; " : ""}position: absolute; top: 45%; right: 75%; width: 4.5%" tabindex="0" onclick="page -= 1; loadCredits()">
			<div class="brownBox center supercenter" style="width: 80vh; height: 43%; padding-top: 1.5%; padding-bottom: 3.5%;">
				<h1>${x.header}</h1>
				<h2 style="margin-bottom: 1.5%; margin-top: 1.5%" class="gdButton biggerShadow"><a href="https://gdbrowser.com/u/${x.ign || x.name}" title=${x.name}>${x.name}</h2></a>
				
				<div class="creditsIcon" ign="${x.ign || x.name}"></div>

				<a target=_blank href="${x.youtube[0]}" title="YouTube"><img src="../assets/${x.youtube[1]}.png" width="11%" class="gdButton"></a>
				<a target=_blank href="${x.twitter[0]}" title="Twitter"><img src="../assets/${x.twitter[1]}.png" width="11%" class="sideSpace gdButton"></a>
				<a target=_blank href="${x.github[0]}" title="GitHub"><img src="../assets/${x.github[1]}.png" width="11%" class="sideSpace gdButton"></a>
				<br>
			</div>
			<img class="gdButton" src="../assets/arrow-right.png" style="position: absolute; top: 45%; left: 75%; width: 4.5%" tabindex="0" onclick="page += 1; loadCredits()">
			</div>`)
	})

	$('#credits').append(`<div id="credits${lastPage}" class="subCredits" style="display: none;">
			<div id="specialthanks" class="brownBox center supercenter" style="width: 80vh; height: 55%; padding-top: 1.5%; padding-bottom: 3.5%;">
				<h1>Special Thanks!</h1><br>
			</div>
			<img class="gdButton" src="../assets/arrow-left.png" style="position: absolute; top: 45%; right: 75%; width: 4.5%" tabindex="0" onclick="page -= 1; loadCredits()">
		</div>`)

	res.specialThanks.forEach(async (x, y) => {
		let n = x.split("/")
		$('#specialthanks').append(`<div class="specialThanks">
		<h2 class="gdButton smaller"><a href="https://gdbrowser.com/u/${n[1] || n[0]}" title=${n[0]}>${n[0]}</h2></a>
		<div class="creditsIcon specialThanksIcon" ign="${n[1] || n[0]}"></div>
		</div>`)
	})


	$('#credits').append(`<div id="closeCredits" class="center supercenter" style="z-index: 10; width: 80vh; height: ${xButtonPos}%; pointer-events: none;">
	<img class="closeWindow gdButton" src="../assets/close.png" width="14%" style="position: absolute; top: -24%; left: -7vh; pointer-events: all;" tabindex="0" onclick="$('#credits').hide(); page = 1;" title="Close"></div>`)

	$(document).keydown(function(k) {

	if ($('#credits').is(':hidden')) return

    if (k.which == 37 && page > 1) { //left
		page -= 1; loadCredits();
	}
	
	if (k.which == 39 && page < lastPage) { //right
		page += 1; loadCredits();
	}
	
});
});

</script>
